<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link
      href="https://unpkg.com/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link
      href="{{ url_for('static', filename='css/custom.css') }}"
      type="text/css"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='css/normalize.css') }}"
      type="text/css"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename= 'css/skeleton.css') }}"
      type="text/css"
      rel="stylesheet"
    />

    <title>TALABARTERIAPP</title>
  </head>
  <body>
    <header id="header" class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <img
                src="{{ url_for('static',filename= 'img/logo1.png') }}"
                id="logo"
              />
              
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if loggedIn%}
                    <li class="nav-item"><a class="nav-link disabled" href="#" tabindex="-1" >Bienvenid@ {{firstName}}</a></li>
                    {% if admin == 1 %}
                    <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
                    {%endif %}
                    <li class="nav-item"><a class="nav-link" href="/logout">cerrar sesion</a></li>
                    {%else%}
                    <li class="nav-item"><a class="nav-link" href="/loginForm">iniciar sesion</a></li>
                    <li class="nav-item"><a class="nav-link" href="/signUpForm">Registrarse</a></li>
                    {%endif%}   
                  
                  </li>
                </ul>
                <ul>
                    <li class="submenu">
                      <img
                        src="{{ url_for('static',filename= 'img/carrito.png') }}"
                        id="img-carrito"
                      />
                      <div id="carrito">
                        <table id="lista-carrito" class="u-full-width">
                          <thead>
                            <tr>
                              <th>Producto</th>
                              <th>Nombre</th>
                              <th>Precio</th>
                              <th>Cantidad</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody></tbody>
                        </table>
      
                        <a href="#" id="vaciar-carrito" class="button u-full-width"
                          >Vaciar Carrito</a
                        >
                        <button id="pagar">Pagar</button>
                      </div>
                    </li>
                  </ul>
              </div>
            </div>
          </nav>      <div class="container">
        <div class="row">
          <div class="four columns">
            
          </div>
          <div class="two columns u-pull-right">
            
          </div>
          
        </div>
      </div>
    </nav>
    </header>

    <div id="hero">
      <div class="container">
        <div class="row">
          <div class="six columns">
            <div class="contenido-hero">
              <h2 style="font-weight: bold">
                Encuentra el producto que buscas
              </h2>
              <p style="font-weight: bold">
                Todos nuestros productos son 100% Artesanales
              </p>
              <form action="#" id="busqueda" method="post" class="formulario">
                <input
                  class="u-full-width"
                  type="text"
                  placeholder="¿Qué producto desea?"
                  id="buscador"
                />
                <input
                  type="submit"
                  id="submit-buscador"
                  class="submit-buscador"
                />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="barra">
      <div class="container">
        <div class="row">
          <div class="four columns icono icono1">
            <p>
              Todo tipo de producto en cuero producidos con el mejor material
              del pais <br />
            </p>
          </div>
          <div class="four columns icono icono2">
            <p>
              Despacho a domicilio a lo largo de todo el territorio nacional<br />
              Aprovecha estas ofertas
            </p>
          </div>
          <div class="four columns icono icono3">
            <p>
              Calidad Garantizada, Productos hechos a mano, uno a uno, con alma,
              con historia, porque valoramos la esencia de lo artesenal
            </p>
          </div>
        </div>
      </div>
    </div>

    <div id="lista-cursos" class="container">
      <h1 id="encabezado" class="encabezado">Catálogo de productos</h1>
      <div class="row">
        <div class="column">
      {% for product in products%}
        <div class="four columns">
          <div class="card" style="width: 25rem;heigth:30rem;">
            <img  style="width:200px;heigth:200px"
              src="{{ url_for('static',filename= product[4]) }}"
              class="imagen-curso"
            />
            <div class="info-card">
              <h4>{{product[1]}}</h4>
              <p >{{product[3]}}</p>
              <img 
                src="{{ url_for('static',filename= 'img/estrellas.png') }}"
              />
              <p class="precio">
                <span class="u-pull-right">${{product[2]}}</span>
              </p>
              <a
                href="#"
                class="u-full-width button-primary button input agregar-carrito"
                data-id="{{product[0]}}"
                >Agregar Al Carrito</a
              >
            </div>
          </div>
        </div>
        <!--.card-->
      {% endfor %}
    </div>

    </div>
    </div>
    <footer id="footer" class="footer barra">
      <div class="container">
        <div class="row">
          <div class="four columns">
            <nav id="principal" class="menu">
              <a class="enlace" href="#">Contacto</a>
              <a class="enlace" href="#"> Sobre nosotros</a>
              <a class="enlace" href="#">politicas y privacidad</a>
            </nav>
          </div>
          <div class="four columns">
            <nav id="secundaria" class="menu">
              <a class="enlace" href="#">Sucursales</a>
              <a class="enlace" href="#"
                >Más información de nuestros servicios</a
              >
            </nav>
          </div>

          <div class="four columns">
            <img
              src="{{ url_for('static',filename= 'img/logo1.png') }}"
              id="logo"
            />
          </div>
        </div>
        <div class="row">
          <p class="texto" style="text-align: center">
            Felipe Castro @Copyrigth 2023 Derechos reservados
          </p>
        </div>
      </div>
    </footer>
    <script src="{{ url_for('static',filename= 'js/app.js') }}"></script>
  </body>
  <footer>
    <script>
      document.getElementById("pagar").onclick = function payment() {
        let total = 0;
        const carro = JSON.parse(localStorage.getItem("carrito"));
        for (const item of carro) {
          const cantidad = item.cantidad;
          const valor = parseInt(item.precio.replace("$", ""));
          total += cantidad * valor;
        }
        const b64 = btoa(total);
        window.open(`/create/${b64}`, "_self");
      };
    </script>
  </footer>
</html>
