<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

    <link href="{{ url_for('static', filename='css/custom.css') }}" type="text/css" rel="stylesheet"> 
    <link href="{{ url_for('static', filename='css/normalize.css') }}" type="text/css" rel="stylesheet"> 
    <link href="{{ url_for('static', filename= 'css/skeleton.css') }}" type="text/css" rel="stylesheet"> 
    <script src="{{ url_for('static',filename= 'js/app.js') }}"></script>

    <title>MusicPro</title>
</head>




<body>
    
    <header id="header" class="header">
        <div class="container">
            <div class="row">
                <div class="four columns">


                    <img src="{{ url_for('static',filename= 'img/logo1.png') }}" id="logo">
                    
                </div>
                <div class="two columns u-pull-right">
                    
                
                    
                </div>
                {% if loggedIn%}
                <P>Bienvenid@ {{firstName}}</P>
                <a href="/logout">cerrar sesion</a>
                {%else%}
                <a href="/loginForm">iniciar sesion</a>
                <a href="/signUpForm">Registrarse</a>
                {%endif%}
            </div> 
        </div>
        </header>
        <p> {{error}} </p>
<form action="/login" method="POST">
	<p>Correo electronico: <input type="text" name="email"></p>
	<p>Contraseña: <input type="password" name="password"></p>
	<p><input type="submit"></p>
	<a href="/registerationForm">Registrese Aqui</a>
</form>
</body>
</html>