<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

    <link
      href="{{ url_for('static', filename='css/custom.css') }}"
      type="text/css"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='css/normalize.css') }}"
      type="text/css"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename= 'css/skeleton.css') }}"
      type="text/css"
      rel="stylesheet"
    />
    <script src="{{ url_for('static',filename= 'js/app.js') }}"></script>
    <link
      href="https://unpkg.com/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <title>TALABARTERIAPP</title>
  </head>

  <body>
    <header id="header" class="header">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <img
            src="{{ url_for('static',filename= 'img/logo1.png') }}"
            id="logo"
          />

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% if loggedIn%}
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1"
                  >Bienvenid@ {{firstName}}</a
                >
              </li>
              {% if admin == 1 %}
              <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
              {%endif %}
              <li class="nav-item">
                <a class="nav-link" href="/logout">cerrar sesion</a>
              </li>
              {%else%}
              <li class="nav-item">
                <a class="nav-link" href="/loginForm">iniciar sesion</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/signUpForm">Registrarse</a>
              </li>
              {%endif%}
            </ul>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="four columns"></div>
            <div class="two columns u-pull-right"></div>
          </div>
        </div>
      </nav>
    </header>

    <form class='container' action="/register" method="POST" onsubmit="return validate()">
      <p>Correo electronico: <input class="form-control"  type="email" name="email" /></p>

      <p>
        Contraseña:
        <input class="form-control"  type="password" name="password" id="password" required />
      </p>

      <p>
        Confirmar contraseña:
        <input class="form-control"  type="password" name="cpassword" id="cpassword" />
      </p>

      <p>Nombres: <input class="form-control"  type="text" name="firstName" /></p>
      <p>Apellidos: <input class="form-control"  type="text" name="lastName" /></p>
      <p>Direccion: <input class="form-control"  type="text" name="address1" /></p>
      <p>Referencia: <input class="form-control"  type="text" name="address2" /></p>
      <p>Codigo postal: <input class="form-control"  type="text" name="zipcode" /></p>
      <p>Ciudad: <input class="form-control"  type="text" name="city" /></p>
      <p>Region: <input class="form-control"  type="text" name="state" /></p>
      <p>Pais: <input class="form-control"  type="text" name="country" /></p>
      <p>Numero telefonico:   <input class="form-control" type="text" name="phone" /></p>

      <p><input class="btn btn-success"  type="submit" value="Registrarse" /></p>
      <p>Tienes cuenta?</p>
      <a href="/loginForm">iniciar sesion</a>
    </form>
  </body>
</html>
