<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

    <link href="{{ url_for('static', filename='css/custom.css') }}" type="text/css" rel="stylesheet"> 
    <link href="{{ url_for('static', filename='css/normalize.css') }}" type="text/css" rel="stylesheet"> 
    <link href="{{ url_for('static', filename= 'css/skeleton.css') }}" type="text/css" rel="stylesheet"> 
    <script src="{{ url_for('static',filename= 'js/app.js') }}"></script>

    <title>MusicPro</title>
</head>




<body>
    
    <header id="header" class="header">
        <div class="container">
            <div class="row">
                <div class="four columns">


                    <img src="{{ url_for('static',filename= 'img/logo1.png') }}" id="logo">
                    
                </div>
                <div class="two columns u-pull-right">
                    
                
                    
                </div>
                {% if loggedIn%}
                <P>Bienvenid@ {{firstName}}</P>
                <a href="/logout">cerrar sesion</a>
                {%else%}
                <a href="/loginForm">iniciar sesion</a>
                <a href="/signUpForm">Registrarse</a>
                {%endif%}
            </div> 
        </div>
        </header>
<form action="/register" method="POST" onsubmit="return validate()">
    <p>Correo electronico: <input type="email" name="email"></p>

    <P>Contraseña: <input type="password" name="password" id="password" required></p>

    <p>Confirmar contraseña: <input type="password" name="cpassword" id="cpassword"></p>

    <p>Nombres: <input type="text" name="firstName"></p>
    <p>Apellidos: <input type="text" name="lastName"></p>
    <p>Direccion: <input type="text" name="address1"></p>
    <p>Referencia: <input type="text" name="address2"></p>
    <p>Codigo postal: <input type="text" name="zipcode"></p>
    <p>Ciudad: <input type="text" name="city"></p>
    <p>Region: <input type="text" name="state"></p>
    <p>Pais: <input type="text" name="country"></p>
    <p>Numero telefonico: <input type="text" name="phone"></p>

    <p><input type="submit" value="Registrarse"></p>

    <a href="/loginForm">Login here</a>
</form>
</body>
</html>



